CREATING MODELS THAT DETERMINE AMOUNT CONTRIBUTED TO WATER, WATER QUALITY AND QUANTITY

1. Importing Libraries that are required

In [307]:
import pandas as pd
import statsmodels.api as sm

2. Converting the data from csv files to python literate

In [308]:
df1 = pd.read_csv('4910797b-ee55-40a7-8668-10efd5c1b960.csv')
df1

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,60739,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,0,...,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
59396,27263,4700.0,2011-05-07,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,0,...,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
59397,37057,0.0,2011-04-11,NaN,0,NaN,34.017087,-8.750434,Mashine,0,...,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
59398,31282,0.0,2011-03-08,Malec,0,Musa,35.861315,-6.378573,Mshoro,0,...,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
59399,26348,0.0,2011-03-23,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,0,...,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

In [309]:
df2 = pd.read_csv('702ddfc5-68cd-4d1d-a0de-f5f566f76d91.csv')
df2.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,50785,0.0,2013-02-04,Dmdd,1996,DMDD,35.290799,-4.059696,Dinamu Secondary School,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other
1,51630,0.0,2013-02-04,Government Of Tanzania,1569,DWE,36.656709,-3.309214,Kimnyak,0,...,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
2,17168,0.0,2013-02-01,NaN,1567,NaN,34.767863,-5.004344,Puma Secondary,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,other,other
3,45559,0.0,2013-01-22,Finn Water,267,FINN WATER,38.058046,-9.418672,Kwa Mzee Pange,0,...,unknown,soft,good,dry,dry,shallow well,shallow well,groundwater,other,other
4,49871,500.0,2013-03-27,Bruder,1260,BRUDER,35.006123,-10.950412,Kwa Mzee Turuka,0,...,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe

In [310]:
df3 = pd.read_csv('SubmissionFormat.csv')
df3.head()

      id     status_group
0  50785  predicted label
1  51630  predicted label
2  17168  predicted label
3  45559  predicted label
4  49871  predicted label

In [311]:
df4 = pd.read_csv('0bf8bc6e-30d0-4c50-956a-603fc693d966.csv')
df4.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

3. Merging datasets to get a complete dataset

In [312]:
#mergeing df1 and df2 on common column id
df = df1.merge(df2[['id']],on = 'id',how = 'outer')
df

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390.0,Roman,34.938093,-9.856322,none,0.0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399.0,GRUMETI,34.698766,-2.147466,Zahanati,0.0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686.0,World vision,37.460664,-3.821329,Kwa Mahundi,0.0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263.0,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0.0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0.0,Artisan,31.130847,-1.825359,Shuleni,0.0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74245,39307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74246,18990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74247,28749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74248,33492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74249,68707,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [313]:
# Merging df2 and df3 since they contain the status group column with different ids
df3 = df3.set_index('id')
df4 = df4.set_index('id')

In [314]:
df3.update(df4)

In [315]:
df3 = df3.reset_index()

In [316]:
df3

          id     status_group
0      50785  predicted label
1      51630  predicted label
2      17168  predicted label
3      45559  predicted label
4      49871  predicted label
...      ...              ...
14845  39307  predicted label
14846  18990  predicted label
14847  28749  predicted label
14848  33492  predicted label
14849  68707  predicted label

[14850 rows x 2 columns]

In [317]:
df3 = df3.set_index('id')

In [318]:
# Creating an empty matching column so that it can be updated by the merged df3 to the main dataframe
df['status_group'] = pd.NA

In [319]:
df.update(df3[['status_group']])

In [320]:
df = df.reset_index()

In [321]:
df

,index,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,0,69572,6000.0,2011-03-14,Roman,1390.0,Roman,34.938093,-9.856322,none,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,<NA>
1,1,8776,0.0,2013-03-06,Grumeti,1399.0,GRUMETI,34.698766,-2.147466,Zahanati,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,<NA>
2,2,34310,25.0,2013-02-25,Lottery Club,686.0,World vision,37.460664,-3.821329,Kwa Mahundi,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,<NA>
3,3,67743,0.0,2013-01-28,Unicef,263.0,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,<NA>
4,4,19728,0.0,2011-07-13,Action In A,0.0,Artisan,31.130847,-1.825359,Shuleni,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74245,74245,39307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,predicted label
74246,74246,18990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>
74247,74247,28749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>
74248,74248,33492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,predicted label
74249,74249,68707,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,predicted label

4. Cleaning the data

In [322]:
df = df.dropna()
df

,index,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
13,13,50495,0.0,2013-03-15,Lawatefuka Water Supply,1368.0,Lawatefuka water sup,37.092574,-3.181783,Kwa John Izack Mmari,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,predicted label
14,14,53752,0.0,2012-10-20,Biore,0.0,WEDECO,34.364073,-3.629333,Mwabasabi,...,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,predicted label
29,29,69124,0.0,2013-03-16,Lawatefuka Water Supply,1256.0,Lawatefuka water sup,37.061688,-3.191989,Kwa Willium Kinda,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,predicted label
32,32,57238,0.0,2013-03-19,Government Of Tanzania,1481.0,DWE,37.492334,-3.290627,Kwa Philip Lyimo,...,soft,good,insufficient,insufficient,river,river/lake,surface,other,other,predicted label
37,37,60048,0.0,2011-03-27,Kirde,0.0,DWE,35.858373,-4.647906,Tangi,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,predicted label
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59349,59349,54026,0.0,2012-10-07,Dwsp,0.0,DWE,32.242568,-4.189353,Kwa Mzee John Magube,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe multiple,communal standpipe,predicted label
59358,59358,44951,500.0,2011-03-27,Unicef,1240.0,DWE,34.631938,-8.723208,Kwa Helena Mabena,...,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe,predicted label
59367,59367,73019,2000.0,2011-03-09,Government Of Tanzania,1977.0,Commu,34.338899,-9.565553,none,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,predicted label
59368,59368,61732,0.0,2011-03-08,Dct,0.0,Gove,35.657558,-6.526272,Mgomwa,...,soft,good,enough,enough,machine dbh,borehole,groundwater,communal standpipe,communal standpipe,predicted label
59381,59381,67885,0.0,2011-03-16,Mkinga Distric Coun,0.0,DWE,38.835001,-4.880204,Mijohoroni,...,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe,predicted label

In [323]:
df.duplicated().sum()

0

In [324]:
# Checking for suitable data types for modelling
print(df.dtypes)

index                      int64
id                         int64
amount_tsh               float64
date_recorded             object
funder                    object
gps_height               float64
installer                 object
longitude                float64
latitude                 float64
wpt_name                  object
num_private              float64
basin                     object
subvillage                object
region                    object
region_code              float64
district_code            float64
lga                       object
ward                      object
population               float64
public_meeting            object
recorded_by               object
scheme_management         object
scheme_name               object
permit                    object
construction_year        float64
extraction_type           object
extraction_type_group     object
extraction_type_class     object
management                object
management_group          object
payment                   object
payment_type              object
water_quality             object
quality_group             object
quantity                  object
quantity_group            object
source                    object
source_type               object
source_class              object
waterpoint_type           object
waterpoint_type_group     object
status_group              object
dtype: object

5. Modelling

In [325]:
predictors = ['gps_height',
              'latitude',
              'longitude',
              'population',
              ]

In [326]:
x = df[predictors]

In [327]:
y = df['quantity_group']

In [328]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(x)

model = LogisticRegression(multi_class='multinomial',solver='lbfgs',max_iter=1000)
model.fit(X_scaled,y)

LogisticRegression(max_iter=1000, multi_class='multinomial')

In [329]:
model.classes_

array(['dry', 'enough', 'insufficient', 'seasonal', 'unknown'],
      dtype=object)

In [330]:
model.score(X_scaled,y)

0.608409050418671

In [331]:
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_scaled)
confusion_matrix(y,y_pred)

array([[  22,  547,   12,    0,    0],
       [   6, 3322,   45,    0,    0],
       [  37, 1334,   71,    0,    0],
       [   0,  188,    5,    0,    0],
       [   0,   23,    1,    0,    0]], dtype=int64)

In [332]:
from sklearn.metrics import classification_report
print(classification_report,y_pred)

<function classification_report at 0x000001C141097B80> ['enough' 'enough' 'enough' ... 'enough' 'enough' 'enough']

In [333]:
print(df.dtypes)

index                      int64
id                         int64
amount_tsh               float64
date_recorded             object
funder                    object
gps_height               float64
installer                 object
longitude                float64
latitude                 float64
wpt_name                  object
num_private              float64
basin                     object
subvillage                object
region                    object
region_code              float64
district_code            float64
lga                       object
ward                      object
population               float64
public_meeting            object
recorded_by               object
scheme_management         object
scheme_name               object
permit                    object
construction_year        float64
extraction_type           object
extraction_type_group     object
extraction_type_class     object
management                object
management_group          object
payment                   object
payment_type              object
water_quality             object
quality_group             object
quantity                  object
quantity_group            object
source                    object
source_type               object
source_class              object
waterpoint_type           object
waterpoint_type_group     object
status_group              object
dtype: object

In [334]:
x = df[['construction_year','region','basin','scheme_management','source']]
x = pd.get_dummies(x,drop_first=True)

In [335]:
x[['gps_height','latitude','longitude','population']] = df[['gps_height','latitude','longitude','population']]

In [336]:
y = df['amount_tsh']

In [337]:

ols_model = sm.OLS(y,sm.add_constant(x))
results = ols_model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             amount_tsh   R-squared:                       0.028
Model:                            OLS   Adj. R-squared:                  0.019
Method:                 Least Squares   F-statistic:                     3.180
Date:                Sat, 03 Jan 2026   Prob (F-statistic):           2.91e-13
Time:                        22:06:05   Log-Likelihood:                -54116.
No. Observations:                5613   AIC:                         1.083e+05
Df Residuals:                    5561   BIC:                         1.087e+05
Df Model:                          51
Covariance Type:            nonrobust
======================================================================================================
                                         coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------
const                                795.3053    983.277      0.809      0.419   -1132.301    2722.911
construction_year                      0.0072      0.198      0.036      0.971      -0.381       0.396
region_Dar es Salaam                -459.3605   1387.368     -0.331      0.741   -3179.143    2260.422
region_Dodoma                       -115.7831    633.381     -0.183      0.855   -1357.458    1125.892
region_Iringa                       1921.5043    684.953      2.805      0.005     578.729    3264.279
region_Kagera                       -681.8183    770.614     -0.885      0.376   -2192.522     828.886
region_Kigoma                       -248.0533    737.966     -0.336      0.737   -1694.756    1198.649
region_Kilimanjaro                  -257.0730    258.929     -0.993      0.321    -764.675     250.529
region_Lindi                        1904.6630    943.778      2.018      0.044      54.490    3754.836
region_Manyara                       501.9374    383.665      1.308      0.191    -250.195    1254.070
region_Mara                         -148.1954    815.472     -0.182      0.856   -1746.840    1450.449
region_Mbeya                         503.1831    899.750      0.559      0.576   -1260.679    2267.045
region_Morogoro                     -135.0836    620.197     -0.218      0.828   -1350.913    1080.745
region_Mtwara                       1974.7890    964.265      2.048      0.041      84.452    3865.126
region_Mwanza                       -491.5649    826.009     -0.595      0.552   -2110.865    1127.735
region_Pwani                        1347.4968    659.870      2.042      0.041      53.893    2641.100
region_Rukwa                         445.1878    978.839      0.455      0.649   -1473.719    2364.094
region_Ruvuma                       2345.8343    845.799      2.774      0.006     687.738    4003.930
region_Shinyanga                    -627.8477    641.466     -0.979      0.328   -1885.372     629.677
region_Singida                       -64.5953    513.102     -0.126      0.900   -1070.476     941.286
region_Tabora                       -354.0431    814.768     -0.435      0.664   -1951.307    1243.220
region_Tanga                         122.4993    336.455      0.364      0.716    -537.085     782.083
basin_Lake Nyasa                    -122.7402    577.772     -0.212      0.832   -1255.399    1009.919
basin_Lake Rukwa                     240.0036    909.408      0.264      0.792   -1542.791    2022.798
basin_Lake Tanganyika                226.5402    632.890      0.358      0.720   -1014.172    1467.252
basin_Lake Victoria                   65.6670    533.759      0.123      0.902    -980.710    1112.044
basin_Pangani                         68.1596    278.422      0.245      0.807    -477.657     613.976
basin_Rufiji                          12.8315    460.834      0.028      0.978    -890.584     916.246
basin_Ruvuma / Southern Coast      -1587.7226    746.224     -2.128      0.033   -3050.612    -124.833
basin_Wami / Ruvu                     99.2919    404.450      0.245      0.806    -693.588     892.172
scheme_management_Other             -771.0508    719.540     -1.072      0.284   -2181.630     639.528
scheme_management_Parastatal         649.7999    502.295      1.294      0.196    -334.895    1634.495
scheme_management_Private operator  -476.6625    571.106     -0.835      0.404   -1596.253     642.928
scheme_management_Trust             -930.6361   2694.199     -0.345      0.730   -6212.319    4351.047
scheme_management_VWC               -433.9207    303.719     -1.429      0.153   -1029.330     161.488
scheme_management_WUA               -296.9569    339.306     -0.875      0.382    -962.130     368.216
scheme_management_WUG               -204.9417    423.862     -0.484      0.629   -1035.877     625.994
scheme_management_Water Board       -195.3109    326.212     -0.599      0.549    -834.814     444.193
scheme_management_Water authority   -231.7278    352.501     -0.657      0.511    -922.767     459.311
source_hand dtw                      -17.0480    893.005     -0.019      0.985   -1767.687    1733.591
source_lake                          139.4526    642.022      0.217      0.828   -1119.160    1398.066
source_machine dbh                   -11.1001    476.892     -0.023      0.981    -945.995     923.795
source_other                        -454.9301    835.626     -0.544      0.586   -2093.084    1183.224
source_rainwater harvesting         -607.7514    659.847     -0.921      0.357   -1901.309     685.806
source_river                         388.3331    476.048      0.816      0.415    -544.907    1321.573
source_shallow well                 -129.3479    523.124     -0.247      0.805   -1154.875     896.179
source_spring                        -38.4404    474.438     -0.081      0.935    -968.524     891.643
source_unknown                      -324.7125   3774.677     -0.086      0.931   -7724.554    7075.129
gps_height                            -0.2388      0.172     -1.388      0.165      -0.576       0.098
latitude                             126.7473    114.868      1.103      0.270     -98.438     351.933
longitude                             13.5301     20.638      0.656      0.512     -26.928      53.988
population                             0.2200      0.142      1.546      0.122      -0.059       0.499
==============================================================================
Omnibus:                    14918.563   Durbin-Watson:                   1.999
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        351671934.486
Skew:                          31.595   Prob(JB):                         0.00
Kurtosis:                    1227.615   Cond. No.                     1.56e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.56e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

It can be noticed from the OLS model that the R-squared is very low and is impossible to predict the contribution of money towards water

In [338]:
y = df['quantity']

In [339]:
model = LogisticRegression(multi_class='multinomial',solver='lbfgs',max_iter=1000)
scaler = StandardScaler()
X_scaled = scaler.fit_transform(x)
model.fit(X_scaled,y)

LogisticRegression(max_iter=1000, multi_class='multinomial')

In [340]:
model.score(X_scaled,y)

0.6657758774274006

In [341]:
coef_df = pd.DataFrame(
    model.coef_,
    columns=x.columns,
    index=model.classes_
)
coef_df

,construction_year,region_Dar es Salaam,region_Dodoma,region_Iringa,region_Kagera,region_Kigoma,region_Kilimanjaro,region_Lindi,region_Manyara,region_Mara,...,source_other,source_rainwater harvesting,source_river,source_shallow well,source_spring,source_unknown,gps_height,latitude,longitude,population
dry,-0.288552,0.079504,0.425482,0.646059,0.338376,-0.239528,0.336213,0.159957,0.399376,-0.218198,...,0.105618,0.053937,-0.003557,0.252417,-0.153238,-0.011489,0.045723,0.200411,-0.237532,0.200105
enough,0.012703,0.065687,0.699756,0.891617,0.447191,0.280430,0.427649,0.395820,0.303827,-0.006189,...,0.000817,-0.309866,-0.451157,-0.178017,-0.493133,0.045678,0.797257,0.285673,0.196613,0.016432
insufficient,0.339744,-0.092297,0.129565,-1.043709,-0.102563,0.037301,0.356265,-0.086274,0.107616,-0.260446,...,0.017025,-0.158311,-0.197386,-0.134599,-0.088152,-0.034395,0.159694,0.263226,-0.156325,0.326674
seasonal,-0.239950,-0.266096,-0.908926,-0.478502,-0.899009,-0.491353,-0.896822,-0.827059,-0.704894,0.108984,...,0.030546,0.548383,0.756100,0.184162,0.385731,-0.002858,-0.495158,-0.572587,0.484685,0.111824
unknown,0.176055,0.213201,-0.345878,-0.015465,0.216005,0.413151,-0.223305,0.357556,-0.105925,0.375848,...,-0.154007,-0.134142,-0.104000,-0.123963,0.348791,0.003064,-0.507517,-0.176722,-0.287441,-0.655035

Based on the coefficient, Region Iringa and Dodoma produce enough water. Rivers are mostly seasonal sources of water.

In [342]:
y_pred = model.predict(X_scaled)

In [343]:
# Classification report
print(classification_report(y,y_pred))

              precision    recall  f1-score   support

         dry       0.55      0.33      0.42       581
      enough       0.70      0.86      0.77      3373
insufficient       0.58      0.41      0.48      1442
    seasonal       0.72      0.15      0.25       193
     unknown       0.50      0.04      0.08        24

    accuracy                           0.67      5613
   macro avg       0.61      0.36      0.40      5613
weighted avg       0.65      0.67      0.64      5613

In the classification report it can be observed that the scores to predict quantity of water are slightly enough to make predictions but not highly accurate ones.

In [344]:
y = df['quality_group']

In [345]:
model = LogisticRegression(multi_class='multinomial',solver='lbfgs',max_iter=1000)
scaler = StandardScaler()
X_scaled = scaler.fit_transform(x)
model.fit(X_scaled,y)

LogisticRegression(max_iter=1000, multi_class='multinomial')

In [346]:
model.score(X_scaled,y)

0.9340815962943168

Model score has improved significantly when target variable was changed to quality.

In [347]:
coef_df = pd.DataFrame(
    model.coef_,
    columns=x.columns,
    index=model.classes_
)
coef_df

,construction_year,region_Dar es Salaam,region_Dodoma,region_Iringa,region_Kagera,region_Kigoma,region_Kilimanjaro,region_Lindi,region_Manyara,region_Mara,...,source_other,source_rainwater harvesting,source_river,source_shallow well,source_spring,source_unknown,gps_height,latitude,longitude,population
colored,0.152830,-0.050542,0.241886,-0.385272,0.180709,-0.274939,-0.317984,-0.535437,-0.282129,-0.157255,...,0.130859,-0.191386,-0.070831,-0.194948,-0.554120,-0.000768,-0.449510,0.677650,-0.223759,0.117775
fluoride,0.706953,-0.037691,-0.343438,-0.541007,-0.069854,-0.094996,-1.163754,-0.315193,-0.579836,-0.154813,...,-0.049497,-0.036990,-0.181793,0.270806,0.334107,-0.000578,0.350395,0.370474,1.627013,-0.034605
good,-0.018181,0.069010,0.379161,0.920297,0.193602,0.534470,0.204771,0.017503,0.246754,0.031485,...,0.001096,0.201724,0.809573,-0.305871,0.492187,0.025006,-0.066631,0.049005,-0.293607,0.123074
milky,0.000392,-0.007809,0.553004,-0.526509,-0.272348,-0.090326,-0.190901,0.347434,-0.200038,-0.123434,...,-0.067742,-0.062416,0.782276,0.557127,0.188247,0.000003,0.586023,-0.368267,-0.087212,0.124698
salty,-0.021505,-0.048433,0.000356,0.372029,-0.043413,-0.075000,0.416694,0.057929,0.459592,0.341697,...,0.225058,0.373637,-0.950486,0.257312,0.163215,-0.016305,-0.450676,-0.504015,0.033659,0.165011
unknown,-0.820490,0.075464,-0.830969,0.160462,0.011305,0.000791,1.051173,0.427763,0.355657,0.062320,...,-0.239774,-0.284569,-0.388740,-0.584428,-0.623635,-0.007358,0.030398,-0.224846,-1.056094,-0.495952

Region Iringa produces mainly 'good' quality of water and so do river sources based on their high coofficients.

In [348]:
y_pred = model.predict(X_scaled)

In [349]:
# Classification report
print(classification_report(y,y_pred))

c:\Users\danie\anaconda3\envs\learn-env\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

              precision    recall  f1-score   support

     colored       0.00      0.00      0.00        20
    fluoride       0.00      0.00      0.00        36
        good       0.94      0.99      0.97      5209
       milky       0.56      0.50      0.53        10
       salty       0.57      0.27      0.37       248
     unknown       0.63      0.21      0.32        90

    accuracy                           0.93      5613
   macro avg       0.45      0.33      0.36      5613
weighted avg       0.91      0.93      0.92      5613

Most of the data has good water thus has high difference between the othe qualities.